<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu do Professor</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/menu.css">

    <!-- JS -->
    <script src="/js/menu.js" defer></script>
</head>
<body>

<div class="container">

    <h1>Bem-vindo, <span th:text="${nomeProfessor}"></span>!</h1>

    <h2>Suas disciplinas:</h2>

    <ul>
        <li th:each="disciplina : ${disciplinas}">
            <span th:text="${disciplina.nomeDisciplina}"></span>
        </li>
    </ul>

    <br>

    <!-- Botões disponíveis para TODOS os professores -->
    <button id="btnCadastrar">Cadastrar Questões</button>
    <button id="btnGerenciar">Gerenciar Questões</button>
    <button id="btnGerarProva">Gerar Prova</button>
	<button id="btnSair">Sair</button>
	
    <!-- Botões disponíveis apenas para Coordenador -->
    <button id="btnGerenciarProfessor" th:if="${session.tipoProfessor == 1}">Gerenciar Professor</button>
    <button id="btnGerenciarDisciplina" th:if="${session.tipoProfessor == 1}">Gerenciar Disciplina</button>

    <br><br>

</div>

</body>
</html>
