<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/menu.css">

    <!-- JS -->
    <script src="/js/menu.js" defer></script>
</head>
<body>

<div class="container">

    <h1>Bem-vindo, <span th:text="${nomeUsuario}"></span>!</h1>

    <!-- Se for professor, mostra as disciplinas -->
	<div th:if="${tipoUsuario == 'professor'}">
	    <h2>Suas disciplinas:</h2>
	    <ul>
	        <li th:each="disciplina : ${disciplinas}">
	            <span th:text="${disciplina.nomeDisciplina}"></span>
	        </li>
	    </ul>
	</div>

	<div th:if="${tipoUsuario == 'professor'}">
	    <button id="btnCadastrar">Cadastrar Questões</button>
	    <button id="btnGerenciar">Gerenciar Questões</button>
	    <button id="btnGerarProva">Gerar Prova</button>
	</div>

	<div th:if="${tipoUsuario == 'coordenador'}">
	    <h2>Todas as Disciplinas:</h2>
	    <ul>
	        <li th:each="disciplina : ${disciplinas}">
	            <span th:text="${disciplina.nomeDisciplina}"></span>
	        </li>
	    </ul>

	    <button id="btnCadastrar">Cadastrar Questões</button>
	    <button id="btnGerenciar">Gerenciar Questões</button>
	    <button id="btnGerarProva">Gerar Prova</button>

	    <button id="btnGerenciarCoordenador">Gerenciar Coordenador</button>
	    <button id="btnGerenciarProfessor">Gerenciar Professor</button>
	    <button id="btnGerenciarDisciplina">Gerenciar Disciplina</button>
	</div>

    <br><br>

    <button id="btnSair">Sair</button>

</div>

</body>
</html>
