<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Professor</title>
    <link rel="stylesheet" th:href="@{/css/professor.css}">
</head>

<body>

<div class="container">

    <!-- FORMULÁRIO -->
    <div class="box-form">
        <h1>Cadastro de Novo Professor</h1>

        <form id="formProfessor">
            <input type="text" id="idNomeProfessor" placeholder="Nome Completo" required>
            <input type="email" id="idEmailProfessor" placeholder="Email do Professor" required>
            <input type="password" id="idSenhaProfessor" placeholder="Senha" required>
            <input type="text" id="idMatriProfessor" placeholder="Matrícula" required>
            
            <button type="submit">Salvar Professor</button>
        </form>
      
      <!-- 🔹 Tabela de Professores -->
<h2>Lista de Professores</h2>

<div id="box-professores">
    <table id="tableProfessor">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Matrícula</th>
                <th>Disciplinas</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
  </div>

    <!-- TABELA DISCIPLINAS -->
    <div class="box-table">
    <h2>Selecione uma disciplina para professor</h2>
<input type="text" id="filtroDisciplina" placeholder="Buscar disciplina...">
    <div class="table-container">
      
        <table id="tableDisciplina">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Disciplina</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
  
  

<script th:src="@{/js/professor.js}"></script>
</body>
</html>